.sidebar {
  width: 270px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  padding-bottom: 20px;
  background-color: var(--primary-50);
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.menuItem {
  padding-left: 5px;
  height: 8%;
  width: 250px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 4px;
  gap: 20px;
  background-color: var(--primary-50);
  color: var(--neutral-900);
  cursor: pointer;
}

.menuItem:hover {
  background-color: var(--primary-100);
  color: var(--neutral-900);
}

.selectedMenuItem {
  box-shadow: 2px 2px 8px var(--neutral-shadow);
  background-color: var(--primary-100);
}

.logo {
  height: 9.6%;
  width: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.logoutButton {
  width: 250px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  background-color: #dc3838;
  color: #ffffff;
  border: none;
}

.loginButton {
  width: 250px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  background-color: #2d87da;
  color: #ffffff;
  border: none;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}

