.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button{
    display: flex;
    background-color: var(--primary-50);
    color: var(-primary-800);
    border: 1px solid var(--primary-800);
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
}