@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-game {
  background-image: url('../public/game.jpg');
}
.bg-exchange-rate {
  background-image: url('../public/exchange-rate.jpg');
}
.bg-city {
  background-image: url('../public/city.jpg');
}
.bg-weather {
  background-image: url('../public/weather.jpg');
}
.bg-weather-main {
  background-image: url('../public/weather-main.jpg');
}
