.page {
  display: flex;
  background-color: var(--neutral-white);
  width: 100%;
}

@media (max-width: 640px) {
  .page {
    flex-direction: column;
  }
}

.listContainer {
  margin-left: 12em;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  width: 600px;
  border: 1px solid #e8e8e8;
  margin-top: 2em;
}

.selectionList {
  height: 40px;
  width: 200px;
  margin-top: 5em;
  margin-left: 5em;
  font-weight: 900;
}

.listHeader {
  display: flex;
  padding: 10px;
  color: white;
  background-color: #156cd6;
  border-bottom: 1px solid #e8e8e8;
}

.rankHeader {
  font-size: 15px;
  font-weight: 700;
}

.usernameHeader {
  font-size: 15px;
  font-weight: 700;
}

.pointsHeader {
  font-size: 15px;
  font-weight: 700;
}

.rankHeader {
  width: 50px;
  text-align: center;
}

.usernameHeader {
  flex: 1;
  padding-left: 50px;
}

.avatar {
  width: 40px;
  height: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: '#000';
  color: '#fff';
  margin-left: 20px;
}

.pointsHeader {
  width: 100px;
  text-align: right;
  padding-right: 20px;
}

.listItem {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e8e8e8;
  background-color: #eaf3fb;
}

.rank {
  width: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 25px;
  margin-left: 10px;
  height: 40px;
  background-color: #9ea0a0;
}

.rankGold {
  width: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40px;
  margin-right: 25px;
  margin-left: 10px;
  background-color: #FFD700;
}

.rankSilver {
  width: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40px;
  margin-right: 25px;
  margin-left: 10px;
  background-color: #C0C0C0;
}

.rankBronze {
  width: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40px;
  margin-right: 25px;
  margin-left: 10px;
  background-color: #CD7F32;
}

.username {
  flex: 1;
  margin-left: 2.1em;
  width: 250px;
}

.points {
  width: 50px;
  margin-right: 1em;
}