.badge {
    width: 85px;
    height: 85px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    box-sizing: border-box;
    overflow-wrap: anywhere;
    padding: 4px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    box-shadow: 2px 4px 8px var(--neutral-shadow);
  }
  .badge::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 85px;
    height: 85px;
    background-color: var(--neutral-white);
    opacity: 0.2;
    border-radius: 100%;
    pointer-events: none;
  }
  .badgeText {
    font-weight: 700;
    color: var(--neutral-black);
    line-height: 14px;
    font-size: 14px;
    margin: 0px 0px;
    z-index: 1;
  }

  .silver {
    background-color: silver;
  }
  
  .bronze {
    background-color: #cd7f32; 
  }

  .gold {
    background-color: gold;
  }