.page{
    display: flex;
    background-color: var(--neutral-white);
    width: 100%;
}
@media (max-width: 640px) {
    .page{
        flex-direction: column;
    }
}
.pollList{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    width: 60%;
    margin-top: 30px;
}