@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;100i;200;200i;300;300i;400;400i;500;500i;600;600i;700;700i;800;800i;900;900i&display=swap');

:root {
  --montserrat: 'Montserrat', sans-serif;   
  --code-font: 'source-code-pro', monospace;
}

body {
  margin: 0;
  font-family: var(--montserrat);
}

code {
  font-family: var(--code-font);
}

.ant-form-item {
  margin-bottom: 12px;
}

.thin-text {
  font-weight: 100;
}

/* Thin Italic */
.thin-italic-text {
  font-weight: 100;
  font-style: italic;
}

/* Extra-Light */
.extra-light-text {
  font-weight: 200;
}

/* Extra-Light Italic */
.extra-light-italic-text {
  font-weight: 200;
  font-style: italic;
}

/* Light */
.light-text {
  font-weight: 300;
}

/* Light Italic */
.light-italic-text {
  font-weight: 300;
  font-style: italic;
}

/* Regular */
.regular-text {
  font-weight: 400;
}

/* Regular Italic */
.regular-italic-text {
  font-weight: 400;
  font-style: italic;
}

/* Medium */
.medium-text {
  font-weight: 500;
}

/* Medium Italic */
.medium-italic-text {
  font-weight: 500;
  font-style: italic;
}

/* Semi-Bold */
.semi-bold-text {
  font-weight: 600;
}

/* Semi-Bold Italic */
.semi-bold-italic-text {
  font-weight: 600;
  font-style: italic;
}

/* Bold */
.bold-text {
  font-weight: 700;
}

/* Bold Italic */
.bold-italic-text {
  font-weight: 700;
  font-style: italic;
}

/* Extra-Bold */
.extra-bold-text {
  font-weight: 800;
}

/* Extra-Bold Italic */
.extra-bold-italic-text {
  font-weight: 800;
  font-style: italic;
}

/* Black */
.black-text {
  font-weight: 900;
}

/* Black Italic */
.black-italic-text {
  font-weight: 900;
  font-style: italic;
}

.display-large {
  font-family: var(--montserrat);
  font-size: 1.75em;
  font-weight: 700;
}

/* Display Medium */
.display-medium {
  font-family: var(--montserrat);
  font-size: 1.25em;
  font-weight: 600;
}

/* Display Small */
.display-small {
  font-family: var(--montserrat);
  font-size: 0.75em;
  font-weight: 500;
}

/* Headline Large */
.headline-large {
  font-family: var(--montserrat);
  font-size: 2em;
  font-weight: 700;
}

/* Headline Medium */
.headline-medium {
  font-family: var(--montserrat);
  font-size: 1.75em;
  font-weight: 600;
}

/* Headline Small */
.headline-small {
  font-family: var(--montserrat);
  font-size: 1.5em; 
  font-weight: 500;
}

/* Title Small */
.title.large{
  font-family: var(--montserrat);
  font-size: 2em;
}

/* Title Medium */
.title.medium{
  font-family: var(--montserrat);
  font-size: 1.5em;
}

/* Title Small */
.title-small {
  font-family: var(--montserrat);
  font-size: 1.25em;
}

/* Body Large */
.body-large {
  font-family: var(--montserrat);
  font-size: 1em; /* Adjust as needed */
}

/* Body Medium */
.body-medium {
  font-family: var(--montserrat);
  font-size: 0.875em; /* Adjust as needed */
}

/* Body Small */
.body-small {
  font-family: var(--montserrat);
  font-size: 0.75em; /* Adjust as needed */
}

/* Label Large */
.label-large {
  font-family: var(--montserrat);
  font-size: 0.875em; /* Adjust as needed */
}

/* Label Medium */
.label-medium {
  font-family: var(--montserrat);
  font-size: 0.75em; /* Adjust as needed */
}

/* Label Small */
.label-small {
  font-family: var(--montserrat);
  font-size: 0.625em; /* Adjust as needed */
}
