.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  box-shadow: 2px 4px 8px var(--neutral-shadow);
  padding: 30px;
  box-sizing: border-box;
  border-radius: 8px;
  gap: 20px;
  background-color: var(--neutral-pollCard);
  margin-bottom: 20px;
}

.pollCardOpen {
  background-color: var(--neutral-pollCard);
}
.pollCardClosed {
  background-color: var(--neutral-closedPoll);
  
}
.question {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.info {
  display: flex;
  flex-direction: column;
}
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.creator {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  justify-content: flex-end;
}
.creatorImage {
  width: 35px;
  height: 35px;
  border-radius: 100px;
  cursor: pointer;
}

.creatorImagePlaceholder {
  width: 35px;
  height: 35px;
  border-radius: 100px;
  cursor: pointer;
  background-color: var(--neutral-100);
  justify-content: center;
  align-items: center;
  display: flex;
}

.creatorName {
  font-size: 16px;
  font-weight: 700;
  color: var(--neutral-black);
}
.questionPoints {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  gap: 3%;
  align-items: flex-start;
}
.question {
  font-size: 20px;
  font-weight: 700;
  width: 75%;
  color: var(--neutral-black);
}
.pointsPlaced {
  font-size: 14px;
  padding-top: 10px;
  font-weight: normal;
  width: 22%;
  text-align: center;
  color: var(--neutral-black);
  
}
.textDescription {
  font-size: 14px;
  text-align: right;
  color: var(--neutral-black);
}
.textDetail {
  font-size: 16px;
  font-weight: 700;
  color: var(--warning-500);
  text-align: right;
}
.textGroup {
  padding-top: 10px;
}
.optionList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.actionButtons {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  padding-top: 30px;
}

.commentButton,
.shareButton,
.reportButton {
  display: flex;
  border: none;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  padding: 4px 12px;
  gap: 5px;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
}

.commentButton {
  background-color: var(--primary-400); 
}
.buttonWrapper {
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: center;
  justify-content: flex-start;
}

.commentCount {
  color: var(--neutral-black);
  font-size: 14px;
  font-weight: normal;
}

.shareButton {
  background-color: var(--primary-400);
}

.reportButton {
  background-color: var(--warning-500);
}

.commentButton:hover,
.shareButton:hover,
.reportButton:hover {
  opacity: 0.7;
}

.customOptionWrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap:10px;
}
.customOptionText{
  font-size: 16px;
  font-weight: 500;
}
.customOption{
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid var(--primary-200);
  border-radius: 10px;
  font-size: 20px;
  background-color: var(--neutral-pollCard);
  color: var(--neutral-black);
  cursor: pointer!important;


}

a{
  text-decoration: none;
}

.buttonText{
  margin: 0px;
}

@media (max-width:769px){
  .buttonText{
    display: none;
  }
  .commentButton,
.shareButton,
.reportButton {
  padding: 12px;
}
}
@media (max-width:1025px){
  .card{
    padding: 25px 15px ;
    
  }

}
.pollClosed{
  font-size: large;
  font-weight: 700;
  color: var(--warning-500);
  text-align: right;
}