.page {
    display: flex;
    background-color: var(--neutral-white);
    width: 75%;
  }
  
  @media (max-width: 640px) {
    .page {
      flex-direction: column;
    }
  }
  
  .createContainer {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: var(--neutral-white);
    width: 60%;
  }
  
  .questionContainer {
    margin-top: 64px;
    margin-bottom: 16px;
  }
  
  .pollTypeContainer {
    margin-bottom: 16px;
  }

  .optButton {
    padding-left: 25px;
    padding-right: 25px;
    border:none;
    color: var(--neutral-white);
  }

  .optButton:hover {
    border: none;
    color:#fff !important ;
  }
  
  .submitContainer {
    position: absolute;
    bottom: 40px; 
    width: 40%;

  }

  .submitButton {
    background-color: var(--secondary-500);
    color: #fff;
    padding-left: 25px;
    padding-right: 25px;
    border:none;
  }

  .submitButton:hover {
    background-color: var(--secondary-300);
    color:#fff !important ;
  }

  .multipleChoiceInputs {
    margin-bottom: 16px;
  }
  
  .choiceInput {
    margin-bottom: 8px;
    margin-right: 4px;
  }

  .datePickerContainer {
    margin-top: 8px;
  }

  .numericInputContainer {
    margin-top: 8px;
  }

  .dueDatePollInputContainer {
    margin-top: 8px;
  }

  .setDueDateContainer {
    margin-top: 8px;
  }

  .dateOptionsContainer {
    margin-top: 8px;
  }
  
  .timeInput {
    width: 60px;
    margin-right: 8px;
  }

  .openVisibilityContainer {
    position: absolute;
    bottom: 100px;
  }
